<form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Thông tin Tùy chọn sản phẩm</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label for="name">Tên</label>
              <input type="text" required #name="ngModel"
                     class="form-control" 
                     name="name"
                     id="name" [(ngModel)]="productOption.name"
                     placeholder="Nhập tên">
  
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                Tên là bắt buộc.
              </div>
            </div>  
          </div>
          <div class="box-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Lưu lại</button>
            <a class="btn btn-danger" [routerLink]="['/product-options']">Hủy</a>
          </div>
        </div>
      </div>
    </div>
  </form>