@{
    ViewData["Title"] = "Home Page";
}

<app xasp-prerender-module="ClientApp/dist/main-server">
<div class="overlay">
  <div class="overlay-content">
   <img src="/uploads/loading.gif"/>
  </div>
</div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
