<div class="wrapper" *ngIf="auth.isLoggedIn">
    <header class="main-header">
        <!-- Logo -->
        <a routerLink="/home" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <b>UDA</b>
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <b>Uda</b>Store</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li ngbDropdown class="dropdown user user-menu">
                        <a ngbDropdownToggle href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Xin chào {{ auth.fullname }}</span>
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li class="user-footer">
                                <a href="#">Đổi mật khẩu</a>
                                <br>
                                <a style="cursor: pointer" (click)="auth.logout()">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <nav-menu></nav-menu>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>
        <!-- Main content -->
        <section class="content">
            <ng2-toasty [position]="'top-right'"></ng2-toasty>
            <ngx-loading-bar></ngx-loading-bar>
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; {{currentDate}} Quản lý hệ thống cửa hàng online Uda Store</strong>
        reserved.
    </footer>
</div>

<div class="login-box" *ngIf="!auth.isLoggedIn">
    <div class="login-logo">
        <a href="/">
            <b>Uda</b>Store</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Đăng nhập hệ thống</p>
        <ng2-toasty [position]="'top-right'"></ng2-toasty>
        <router-outlet></router-outlet>
    </div>
</div>