<div class="row">
  <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                    <p>
                       <a routerLink="/users/new" class="btn btn-primary">Thêm mới</a>
                    </p>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="input-group">
                            <input 
                            #query
                            (keyup)="filter(query.value, colunm)"
                            type="text" class="form-control" 
                            placeholder="Nhập từ khóa để tìm...">
    
                            <div class="input-group-btn">
                              <div ngbDropdown>
                                  <a id="dropdownBasic1" href="#" ngbDropdownToggle
                                  class="btn btn-info btn-flat" 
                                  data-toggle="dropdown" aria-haspopup="true" 
                                  aria-expanded="false">Tìm theo 
                                  <span class="caret"></span></a>
                                  <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                                    <li><a style="cursor: pointer;" (click)="searchByColunm('fullName')">Họ tên <i *ngIf="colunm == 'fullName'" class="fa fa-check"></i></a></li>
                                    <li><a style="cursor: pointer;" (click)="searchByColunm('email')">Email <i *ngIf="colunm == 'email'" class="fa fa-check"></i></a></li>
                                    <li><a style="cursor: pointer;" (click)="searchByColunm('roles')">Quyền <i *ngIf="colunm == 'roles'" class="fa fa-check"></i></a></li>
                                  </ul>
                              </div>
                             
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                    </div>
                    
                    <div class="clearfix"></div>
                    <br>
                <data-table
                headerTitle="Danh sách người dùng"
                [items]="items"
                [itemCount]="itemCount"
                (reload)="reload($event)"
        
                [limit]="10"
                [sortBy]="'rating'"
                [sortAsc]="false"
        
                [selectColumn]="false"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [translations]="translations"
                [indexColumnHeader]="'#'"
                [selectOnRowClick]="false"
                >
                <data-table-column
                  [property]="'email'"
                  [header]="'Email'"
                  [sortable]="true">
                </data-table-column>

                <data-table-column
                    [property]="'fullName'"
                    [header]="'Tên'"
                    [sortable]="true">
                </data-table-column>

                <data-table-column
                [property]="'roles'"
                [header]="'Quyền'"
                [sortable]="true">
                </data-table-column>

                <data-table-column
                  [property]="'createdOn'"
                  [header]="'Ngày tạo'"
                  [sortable]="true">

                  <ng-template #dataTableCell let-item="item">
                      {{ item.createdOn | date: 'dd/MM/yyyy' }}
                  </ng-template>
                </data-table-column>
               
                <data-table-column
                    [property]="'id'"  
                    [header]="'Thao tác'"
                >
                    <ng-template #dataTableCell let-item="item">
                        <a class="btn btn-info btn-xs" [routerLink]="['/users/', item.id]">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" (click)="delete(item.id)">
                          <i class="fa fa-trash"></i>
                      </a>
                    </ng-template>
                </data-table-column>
            </data-table>
            <app-loading [items]="items"></app-loading>
            </div>
          </div>
    </div>
</div>